{% extends 'base.html' %}
{% load widget_tweaks %}
{% load humanize %}
{% load l10n %}

{% localize on %}
    {{ value }}
{% endlocalize %}

{% block title %} {{ object }} {% endblock title %}


{% block css_links %}

  <!-- DataTables -->
  <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-dash/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
  <!-- summernote -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">

{% endblock css_links %}


{% block content_header %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">
                {{ loan_obj.borrower }} - Loan Status: {{ loan_obj.loan_status }}
            </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ object.get_absolute_url }}">Home</a></li>
              <li class="breadcrumb-item active">{{ object.name }}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

{% endblock content_header %}


{% block content %}

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Loan Key - <strong class="text-capitalize text-primary">{{ loan_obj.loan_key }}</strong> Detail <br/>
                <small class="well well-sm"><strong>Note: the loan {{ loan_obj }} should be completed before maturity date: {{ loan_obj.end_date }}, System automatically calculates penalty after maturity date.</strong></small>
            </h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Principal Amount</span>
                      <span class="info-box-number text-center text-muted mb-0">NGN {{ loan_obj.principal_amount|localize|intcomma }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Interest Rate</span>
                      <span class="info-box-number text-center text-muted mb-0">
                          {{ loan_obj.get_interest_rate }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <div class="info-box bg-light">
                    <div class="info-box-content">
                      <span class="info-box-text text-center text-muted">Maturity Date</span>
                      <span class="info-box-number text-center text-muted mb-0">{{ loan_obj.end_date }} </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Loan / Branch Information</h4>
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ loan_obj.borrower.get_image }}" alt="user image">
                        <span class="username">
                          <a href="#">{{ loan_obj.borrower }}</a>
                        </span>
                        <span class="description">Loan Type - {{ loan_obj.loan_type }}</span>
                      </div>
                      <!-- /.user-block -->

                      <div class="row">
                          <div class="col-sm-4">
                              <strong>Repayment: </strong> {{ loan_obj.mode_of_repayments }}<br/>
                              <strong>Status: </strong> {{ loan_obj.loan_status }}<br/>
                              <strong>Occupancy: </strong> {{ loan_obj.borrower.get_address }}<br/>
                              <strong>Phone: </strong> <a href="tel:{{ loan_obj.borrower.phone }}" >{{ loan_obj.borrower.phone }}</a><br/>
                          </div>
                          <div class="col-sm-4">
                              <strong>Number Of Repayments: </strong> {{ loan_obj.number_repayments }}<br/>
                              <strong>Mandate Reference: </strong> {{ dd_obj.mandateId }}<br/>
                              <strong>Grace Period: </strong> {{ loan_obj.grace_period }} {% if loan_obj.grace_period == 1 %} Day {% else %} Days {% endif %} <br/>
                              <strong>Payer Bank: </strong> {{ loan_obj.borrower.bank.get_short_name }} / {{ loan_obj.borrower.bank.code }}<br/>
                              <strong>Loan Interest: </strong> {{ loan_obj.interest }}% {{ loan_obj.interest_period }}<br/>
                          </div>
                          <div class="col-sm-4">
                              <strong>Penalty: </strong> Overdue Loan Penalty {{ loan_obj.penalty }} <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal-sm-penalty-change">Modify</a> | <a href="#" data-toggle="modal" data-target="#modal-sm-penalty"> <i class="fas fa-eye" style="color: #2aabd2"></i> </a> |
                                  <a href="#" data-toggle="modal" data-target="#modal-sm-penalty-knowledge">
                                      <i class="fas fa-book" style="color: #eea236"></i>
                                  </a> <hr/>
                                <strong>Repayment: </strong>
                                    {% if loan_obj.balance_due == 'Modify/Change Loan' %}
                                        <a href="#" class="btn btn-xs btn-outline-warning">Update Repayment Balance</a>
                                    {% else %}
                                        {{ loan_obj.balance_due }}
                                    {% endif %}
                          </div>
                      </div>
                      <br/>
                      <p>
                        <a href="#" class="link-black text-sm">
                            <i class="fas fa-building mr-1"></i> Branch: {{ loan_obj.company.branch.address }}
                        </a><br/>
                        <a href="#" class="link-black text-sm">
                            <i class="fas fa-user mr-1"></i> Processing Manager: {{ loan_obj.account_officer.get_name }}
                        </a>
                      </p>
                    </div>

                    <h4>Loan / Customer Activity</h4>
                    <div class="post clearfix">
                      <div class="user-block">
                        <img class="img-circle img-bordered-sm" src="{{ loan_obj.account_officer.get_image }}" alt="{{ loan_obj.account_officer.get_name }} Image">
                        <span class="username">
                          <a href="#">{{ loan_obj.account_officer.get_name }}</a>
                        </span>
                        <span class="description">Made First Payment - 3 days ago</span>
                      </div>
                      <!-- /.user-block -->
                      <p>
                        Lorem ipsum represents a long-held tradition for designers,
                        typographers and the like. Some people hate it and argue for
                        its demise, but others ignore.
                      </p>
                      <p>
                        <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Modify Content</a>
                      </p>
                    </div>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
              <h3 class="text-primary"><i class="fas fa-credit-card"></i> {{ loan_obj.loan_type.package.name }} </h3>
              <p>
                  <small>
                      <i class="fas fa-warning" style="color: #eea236"></i>
                      Calculate Loan Packages Before Updating Loan Repayment Balance
                  </small>
                  <br/>
                  <small>
                      You Can Buy More Loan Package From The <a href="#" class="btn btn-primary btn-xs"><i class="fas fa-shopping-cart" style="color: #fffee8"></i> MINSTORE</a>
                  </small>
              </p>
              <hr/>
              <div class="text-muted">
                <p class="text-sm">Client Work Profile/Business
                  <b class="d-block">Gender: {{ loan_obj.borrower.gender }}</b>
                  <b class="d-block">Address: {{ loan_obj.borrower.get_address }}</b>
                  <b class="d-block">Country/State:{{ loan_obj.borrower.country }} / {{ loan_obj.borrower.state }}</b>
                  <b class="d-block">Working Status: {{ loan_obj.borrower.working_status }}</b>
                  <b class="d-block">Email: {{ loan_obj.borrower.email }}</b>
                  <b class="d-block">SSN/Unique Identifier: {{ loan_obj.borrower.unique_identifier }}</b>
                  <b class="d-block">Age: {{ loan_obj.borrower.get_age }} years old / {{ loan_obj.borrower.date_of_birth }}</b>
                </p>

                <p class="text-sm">Loan / Mandate Information
                  <b class="d-block">Mandate Hash: <pre>{{ dd_obj.hash_key }}</pre></b>
                  <b class="d-block">Mandate Type: {{ loan_obj.mode_of_repayments }}</b>
                  <b class="d-block">Merchant ID: {{ company_creds.merchantId }}</b>
                  <b class="d-block">Request ID: {{ dd_obj.requestId }}</b>
                  <b class="d-block">Service Type ID: {{ dd_obj.serviceTypeId }}</b>
                  <b class="d-block">Mandate Start Date: {{ dd_obj.start_date }}</b>
                  <b class="d-block">Mandate End Date: {{ dd_obj.end_date }}</b>
                  <b class="d-block">Status Code: {{ dd_obj.statuscode }}</b>
                  <b class="d-block">Mandate ID: {{ dd_obj.mandateId }}</b>
                  <b class="d-block">Status: {{ dd_obj.status }}</b>
                  <b class="d-block">Processing Fee:{% if dd_obj.processing_fee %} {{ dd_obj.processing_fee }} <i class="fa fa-check" style="color: #5cb85c"></i> {% else %} Not Charged! <i class="fa fa-bell" style="color: #ba2121"></i> {% endif %}</b>
                  <b class="d-block">Insurance Fee: {% if dd_obj.insurance %} {{ dd_obj.insurance }} <i class="fa fa-check" style="color: #5cb85c"></i> {% else %} Not Charged! <i class="fa fa-bell" style="color: #ba2121"></i> {% endif %}</b>
                </p>

                <p class="text-sm">Loan Terms / Loan Collateral
                  <b class="d-block">Collateral:
                      {%  if loan_obj.collateral.name == None %}
                          <a href="{% url 'loans-url:loan-detail-collateral' object.slug loan_obj.slug loan_obj.loan_key %}" class="btn btn-xs btn-outline-warning">
                              Validate Loan Collateral
                          </a>
                      {% else %}
                          <a href="{% url 'loans-url:loan-detail-collateral' object.slug loan_obj.slug loan_obj.loan_key %}" class="btn btn-xs btn-outline-primary">View Collateral</a>
                      {% endif %}
                  </b>
                  <b class="d-block">Terms &amp; Conditions:
                      {%  if loan_obj.loan_terms.package == None %}
                          <a href="#" class="btn btn-xs btn-outline-warning">Validate Terms</a>
                      {% else %}
                          <a href="#" class="btn btn-xs btn-outline-primary">View Terms &amp; Condition</a>
                      {% endif %}
                  </b>
                </p>
              </div>

              <h5 class="mt-5 text-muted">Loan Documents Received</h5>
              <ul class="list-unstyled">
                <li>
                    <p>Loan Documents Can Be In The Following File Types</p>
                    <i class="far fa-fw fa-file-word"></i> | <i class="far fa-fw fa-file-pdf"></i> | <i class="far fa-fw fa-envelope"></i> | <i class="far fa-fw fa-image "></i>
                </li>
                <li>
                    <br/>
                  {%  if loan_obj.loan_file_upload %}
                    <a href="" class="btn-link text-secondary">
                        {% if fileType == '.pdf' %}
                            <i class="far fa-fw fa-file-pdf"></i>
                        {% elif fileType == '.jpg' %}
                            <i class="far fa-fw fa-image "></i>
                        {% elif fileType == '.docx' %}
                            <i class="far fa-fw fa-file-word"></i>
                        {% else %}
                            <i class="far fa-fw fa-envelope"></i>
                        {% endif %}
                        {{ loan_obj.loan_file_upload.url }}
                    </a>
                  {% else %}
                    <form method="POST" enctype="multipart/form-data" novalidate>
                      {% csrf_token %}

                      {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                      {% endfor %}

                      {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}

                      {% for field in form.visible_fields %}
                        <div class="form-group">
                          {{ field.label_tag }}

                          {% if form.is_bound %}
                            {% if field.errors %}
                              {% render_field field class="form-control is-invalid" %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            {% else %}
                              {% render_field field class="form-control is-valid" %}
                            {% endif %}
                          {% else %}
                            {% render_field field class="form-control" %}
                          {% endif %}

                          {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                          {% endif %}
                        </div>
                      {% endfor %}

                      <button type="submit" class="btn btn-primary btn-block">Update</button>
                  </form>
                  {% endif %}
                </li>
              </ul>
                <div class="text-center mt-5 mb-3">
                    <div class="mb-3">
                        <textarea class="textarea" id="description-content" placeholder="Place some text here"
                                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </div>
                    <div class="col-md-12">
                      <div class="card card-outline card-info">
                        <div class="card-header">
                          <h3 class="card-title">
                            Perform More Loan Actions
                            <small>Simple and fast</small>
                          </h3>
                          <!-- tools box -->
                          <div class="card-tools">
                            <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                              <i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                              <i class="fas fa-times"></i></button>
                          </div>
                          <!-- /. tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body pad">
                          <div class="text-center mt-5 mb-3">
                            <a href="#" class="btn btn-sm btn-primary">Get Started Using Minone</a>
                            <a href="#" class="btn btn-sm btn-warning">Loan Mandate Actions</a>
                          </div>
                          <p class="text-sm mb-0">
                            Oops! Store Financial Informations On
                            <a href="#">Minaccounting</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- /.col-->
                </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->



    <div class="modal fade" id="modal-sm-penalty">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><small>Standard Penalty - {{ loan_obj.penalty.title }}</small></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ loan_obj.penalty.describe | safe }}</p>

              <hr/>
              <strong><i class="fas fa-building"></i> Company: </strong> {{ loan_obj.company }}<br/>
              <strong><i class="fas fa-outdent"></i> Branch Code: </strong> {{ loan_obj.company.branch }}<br/>
              <strong><i class="fas fa-location-arrow"></i> Branch Address: </strong> {{ loan_obj.company.branch.address }}<br/>
            </div>
            <div class="modal-footer justify-content-between">
              <small class="well well-sm"><i class="fas fa-warning"></i> For Borrower's View If Physically Present* </small>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->



    <div class="modal fade" id="modal-sm-penalty-knowledge">
        <div class="modal-dialog">
          <div class="modal-content bg-info">
            <div class="modal-header">
              <h4 class="modal-title"><small>Loan Penalty</small></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <small style="color: #fffee8">
                  Learning about loan penalties on <strong>MINLOANSNG</strong>, We would give you a quick guide reference.
                  The software system auto-calculates standard loan penalty for the lenders using international lending rules, as
                  attached to the STANDARD LENDING GUIDANCE SYSTEM (SLGS), for loans that are part maturity date.
                  However lenders can re-attach or modify current legal punishment to fit their own mode of business depending on the
                  borrower. The SLGS standard is automatically created for each borrower once a loan instance is created.
              </small>
            </div>
            <div class="modal-footer justify-content-between">
              <small class="well well-sm" style="color: #fffee8"><i class="fas fa-warning"></i> For Lenders View Only* </small>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->


    <div class="modal fade" id="modal-sm-penalty-change">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><small>Change Loan Penalty</small></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p></p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    </section>
    <!-- /.content -->



    <div class="modal fade" id="modal-sm-collateral-change">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><small>Validate Loan Collateral</small></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p></p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="submit" class="btn btn-outline-success btn-block">Process Validation</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    </section>
    <!-- /.content -->

{% endblock content %}


{% block js_links %}

    <!-- jQuery -->
    <script src="https://cdn.minloans.com.ng/min-dash/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdn.minloans.com.ng/min-dash/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="https://cdn.minloans.com.ng/min-dash/plugins/datatables/jquery.dataTables.js"></script>
    <script src="https://cdn.minloans.com.ng/min-dash/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdn.minloans.com.ng/min-dash/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdn.minloans.com.ng/min-dash/dist/js/demo.js"></script>
    <!-- Summernote -->
    <script src="https://cdn.minloans.com.ng/min-dash/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
      $(function () {
        // Summernote
        $('.textarea').summernote();
        console.log("page ready!");



        //setup before functions
        let typingTimer;                //timer identifier
        const doneTypingInterval = 5000;  //time in ms, 5 second for example
        let $input = $('#description-content');

        //on keyup, start the countdown
        $input.on('keyup', function () {
          console.log("clicked!");
          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneTyping, doneTypingInterval);
        });

        console.log("worked! till here again");

        //active-user is "finished typing," do something(Save content to server via ajax & load a saved alert message!)
        function doneTyping (event) {
          console.log("finished typing!")
        }
      })
    </script>

{% endblock js_links %}