{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>{{ object.get_name }}</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- <link rel="manifest" href="site.webmanifest"> -->
   <link rel="shortcut icon" type="image/x-icon" href="https://cdn.minloans.com.ng/images/minloansng2.png">
   <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/owl.carousel.min.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/magnific-popup.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/89122a8218.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/themify-icons.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/nice-select.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/flaticon.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/gijgo.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/animate.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slicknav.css">
   <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/style.css">
   <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    {% include 'nav/home-nav.html' %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_3">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="bradcam_text">
                          <h3>{{ object.get_name }} | Profile</h3>
                      </div>
                  </div>
              </div>
          </div>
    </div>
      <!--/ bradcam_area  -->

    <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="{{ object.get_image }}" alt="{{ object.get_name }} profile">
                     <div class="media-body">
                        <a href="#">
                           <h4>{{ object.get_name }}</h4>
                        </a>
                        <p>ROLE: <strong>{{ object.role }}</strong></p><hr/>
                         <p>Staff{% if staff_count > 1 %}s{% endif %}: <strong>
                            {% if object.plan == 'FREEMIUM' or object.plan == 'STARTUP' %}
                                <i class="fa fa-money"></i> <div class="text-warning">Upgrade Account To Add Staff</div>
                            {% else %}
                                <i class="fa fa-user"></i> {{ staff_count }}
                            {% endif %}
                         </strong></p> <hr/>
                        <p>
                            You can only add <strong>{{ plan_info_obj.max_staff }} staff{% if plan_info_obj.max_staff > 1 %}s{% endif %}</strong> only
                        </p><br/>
                        <button class="button button-contactForm btn_1 boxed-btn" data-toggle="modal" data-target="#modalLargeDefault"
                                {% if object.plan == 'FREEMIUM' or object.plan == 'STARTUP' or staff_count == plan_info_obj.max_staff %}disabled{% endif %}>
                            {% if object.plan == 'FREEMIUM' or object.plan == 'STARTUP' %}
                                <i class="fa fa-times"></i> Cannot Add Staffs
                            {% else %}
                                <i class="fa fa-plus"></i> Add Staffs
                            {% endif %}
                        </button>
                        <a href="{% url 'logout' %}" class="button button-form btn-danger boxed-btn">
                            <i class="fa fa-sign-out"></i> Exit Minloans NG
                        </a>
                     </div>
                  </div>
               </div>

              <div class="modal fade" id="modalLargeDefault" tabindex="-1" role="dialog" aria-labelledby="modalLargeDefaultLabel" data-backdrop="false">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="modalLargeDefaultLabel">
                            <img class="img-responsive" width="40px" height="40px" src="https://cdn.minloans.com.ng/svgs/waiter.svg" />
                            Add Staff Users - Max Staff: <strong>{{ plan_info_obj.max_staff }} staff{% if plan_info_obj.max_staff > 1 %}s{% endif %}</strong>
                        </h4>
                      </div>
                      <div class="modal-body">
                        <div class="text-center">
                            <div class="row justify-content-center">
                                <div class="col-lg-12 col-md-12">
                                    <form action="{% url 'mincore-url:add-staff' %}" class="addStaffForm" method="post">
                                        <div class="mt-10">
                                            <input type="text" name="staff-code" list="staff-code" placeholder="Staff Code"
                                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Staff Code'" required
                                                class="single-input">
                                            <datalist id="staff-code">
                                                {% for keycode in userKeyCode %}
                                                    <option class="form-control" value="{{ keycode }}">{{ keycode }}</option>
                                                {% endfor %}
                                            </datalist>
                                        </div>

                                        <div class="input-group-icon mt-10">
                                            <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                                            <div class="form-select" id="default-select" aria-placeholder="Select Company">
                                                <select id="company">
                                                    {% for comp in user_comp_qs %}
                                                        <option class="form-control" id="company" value="{{ comp }}">{{ comp }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mt-10">
                                            <textarea class="single-textarea" id="message" placeholder="Message" onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = 'Message'" required></textarea>
                                        </div>

                                        <button type="submit" class="btn btn-default btn-block btn-primary">Add Staff</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>

               <div class="comments-area">
                   <h4>Minloansng Products</h4>
                   <div class="comment-list">
                       <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="single_service wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">
                        <div class="service_icon_wrap text-center">
                            <div class="service_icon ">
                                <a href="#">
                                    <img class="img-responsive" width="250px" height="100px" src="https://web4africa.com/wp-content/uploads/dotSTORE.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="info text-center">
                            <span><h4>Minmarket</h4></span><hr/>
                            <small style="color: #5b80b2;">
                                <a href="#">Get customisable apps &amp; plugins to manage your business!</a>
                            </small><hr/>
                        </div>
                        <div class="service_content">
                            <ul class="text-center">
                                <li> Free Apps &amp; Paid Apps </li>
                                <li> Plugins &amp; Third party </li>
                            </ul><hr/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_service wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="service_icon_wrap text-center">
                            <div class="service_icon ">
                                <a href="#">
                                    <img class="img-responsive" width="250px" height="100px" src="https://i.udemycdn.com/course/750x422/2334782_d673_2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="info text-center">
                            <span><h4>Minaccounting</h4></span><hr/>
                            <small style="color: #5b80b2;">
                                <a href="#">Accounting SAAS, to help you manage your business</a>
                            </small><hr/>
                        </div>
                        <div class="service_content">
                            <ul class="text-center">
                                <li> Cloud Based &amp; Support </li>
                                <li> Buy OFF or Subscribe </li>
                            </ul><hr/>
                        </div>
                    </div>
                </div>
            </div>
                   </div>

               </div>
               <div class="comments-area">
                  <h4>Tickets {{ userTickets_qs.count }}</h4>
                  <div class="comment-list">
                      {% for ticket_obj in userTickets_qs %}
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                               <div class="thumb">
                                  <img src="https://cdn.minloans.com.ng/svgs/ticket.svg" width="50px" height="50px" class="img-responsive" />
                               </div>
                               <div class="desc">
                                  <p class="comment">
                                     {{ ticket_obj.title }}
                                  </p>
                                  <div class="d-flex justify-content-between">
                                     <div class="d-flex align-items-center">
                                        <h5>
                                           <a href="#">{{ ticket_obj.user }}</a>
                                        </h5>
                                        <p class="date">{{ ticket_obj.timestamp|timesince }}</p>
                                     </div>
                                     <div class="reply-btn">
                                        <a href="#" class="btn-reply text-uppercase">
                                            {% if ticket_obj.completed %}
                                                <strong>DONE</strong>
                                            {% else %}
                                                <strong>UNSOLVED</strong>
                                            {% endif %}
                                        </a>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        </div>
                      {% empty %}
                          <div class="desc">
                              <p class="comment">
                                  <strong>You Have NO Ticket History</strong>
                              </p>
                          </div>
                      {% endfor %}
                  </div>
               </div>
               <div class="comment-form">
                  <h4>Open A Ticket</h4>
                  <form class="form-contact comment_form" method="post" action="{% url 'mincore-url:support-ticket' %}" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Describe your request"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-8">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Title">
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="form-group">
                               <select class="form-control" id="company" name="text">
                                    <option class="form-control" id="company" value=" "> Select Affected Company  . </option>
                                   {% for comp in user_comp_qs %}
                                       <option class="form-control" id="company" value="{{ comp }}">{{ comp }}</option>
                                   {% endfor %}
                               </select>
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Open My Ticket</button>
                     </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">
                         {% if user_comp_qs.count == 1 %}
                             My Company
                         {% elif user_comp_qs.count >= 2 %}
                             My Companies
                         {% else %}
                             My Company
                         {% endif %}
                     </h4>
                     <ul class="list cat-list">
                        {% for comp in user_comp_qs %}
                            {% if comp.name %}
                                <li>
                                   <a href="{{ comp.get_absolute_url }}" class="d-flex">
                                      <p>
                                          <img src="https://cdn.minloans.com.ng/svgs/company.svg" width="40px" height="40px" class="img-responsive" />
                                          {{ comp }}
                                      </p>
                                   </a>
                                </li>
                            {% else %}
                                <a href="{% url 'company-url:update-company-profile' comp.slug %}" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
                                    Get A Company
                                </a>
                            {% endif %}
                        {% endfor %}
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">
                         I Work For:
                     </h4>
                     <ul class="list cat-list">
                        {% for comp in works_for %}
                            {% if comp.name %}
                                <li>
                                   <a href="{{ comp.get_absolute_url }}" class="d-flex">
                                      <p>
                                          <img src="https://cdn.minloans.com.ng/svgs/company.svg" width="40px" height="40px" class="img-responsive" />
                                          {{ comp }}
                                      </p>
                                   </a>
                                </li>
                            {% endif %}
                        {% empty %}
                            <li><p><strong>Not An Employee</strong></p></li>
                        {% endfor %}
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">
                         <img class="img-responsive" width="40px" height="40px" src="https://cdn.minloans.com.ng/svgs/key.svg" />
                         Access Token
                     </h3>
                     <div class="media post_item">
                        <small><em>{{ object.token }}</em></small>
                     </div><hr/>
                     <div class="media post_item">
                         <strong>KeyCode: </strong><small><em>{{ object.keycode }}</em></small>
                     </div>
                  </aside>
                  <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">
                         <img src="https://cdn.minloans.com.ng/svgs/credit-card.svg" class="img-responsive" width="40px" height="40px"/>
                         Current Plan
                     </h4>
                     <div class="well well-sm">
                         {{ plan_title }}: <strong>{{ user_plan }}</strong>
                         {% if plan_title == 'ACTIVE' %} <i class="fa fa-check"></i> {% else %} <i class="fa fa-times"></i> {% endif %}
                         <hr/> <small> {% if plan_title == 'ACTIVE' %} Expires in <strong>{{ object.trial_days }}</strong> {% else %} Expired {% endif %} </small>
                         {% if user_plan == 'FREEMIUM' %}
                             <hr/>
                             <a href="#" style="color: #efefef" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
                                 Upgrade Account
                             </a>
                         {% endif %}
                     </div>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


    {% include 'footer/home-footer.html' %}

    <script src="https://cdn.minloans.com.ng/min-homepage/js/vendor/modernizr-3.5.0.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/vendor/jquery-1.12.4.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/popper.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/bootstrap.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/owl.carousel.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/isotope.pkgd.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/ajax-form.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/waypoints.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.counterup.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/imagesloaded.pkgd.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/scrollIt.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.scrollUp.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/wow.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/nice-select.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.slicknav.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.magnific-popup.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/plugins.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/gijgo.min.js"></script>

   <!--contact js-->
   <script src="https://cdn.minloans.com.ng/min-homepage/js/contact.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.ajaxchimp.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.form.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.validate.min.js"></script>
   <script src="https://cdn.minloans.com.ng/min-homepage/js/mail-script.js"></script>

   <script src="https://cdn.minloans.com.ng/min-homepage/js/main.js"></script>

   {% include 'js/dashjs.html' %}

   <script>
       $(function () {
            'use strict';
            $(document).ready(function () {
                const addStaffForm = $('.addStaffForm');
                const addStaffFormMethod = addStaffForm.attr('method');
                const addStaffFormEndpoint = addStaffForm.attr('action');
                const addStaffFormSubmitBtn = addStaffForm.find("[type='submit']");
                const addStaffFormSubmitBtnText = addStaffFormSubmitBtn.text();

                function displaySubmitting(submitBtn, defaultText, doSubmit) {
                    if (doSubmit) {
                        submitBtn.addClass("disabled");
                        submitBtn.html("<i class='fa fa-spin fa-spinner'></i> Adding Staff ...");
                    } else {
                        submitBtn.removeClass("disabled");
                        submitBtn.add(defaultText);
                    }
                }

                addStaffForm.submit(function (event) {
                    event.preventDefault();

                    {% include 'csrf_ajax/csrf_ajax_token.js' %}

                    const addStaffFormData = {
                        "message": $('#message').val(),
                        "staffCode": $('.single-input').val(),
                        "company": $('#company').val(),
                    };
                    console.log(addStaffFormData);
                    const thisForm = $(this);

                    displaySubmitting(addStaffFormSubmitBtn, "", true);

                    $.ajax({
                        method: addStaffFormMethod,
                        url: addStaffFormEndpoint,
                        data: addStaffFormData,
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',

                        success: function (data) {
                            addStaffForm[0].reset();
                            setTimeout(function () {
                                window.location.replace("{% url 'success' %}");
                            }, 3000);
                        }, error: function (error) {
                            console.log(error);
                            addStaffForm[0].reset();
                            //alert would be here
                            displaySubmitting(addStaffFormSubmitBtn, addStaffFormSubmitBtnText, false);
                        }
                    })

                })
            })
        })
   </script>

   {% include 'js/support.html' %}

</body>

</html>