<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | {{ company }}</title>
    <script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/minloans-public-home/dist/css/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <style>
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto; /* 15% from the top and centered */
          padding: 20px;
          border: 1px solid #888;
          width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
        /* Modal Header */
        .modal-header {
          padding: 2px 16px;
          background-color: #370eb1;
          color: white;
        }

        /* Modal Body */
        .modal-body {padding: 2px 16px;}

        /* Modal Footer */
        .modal-footer {
          padding: 2px 16px;
          background-color: #370eb1;
          color: white;
        }

        /* Modal Content */
        .modal-content {
          position: relative;
          background-color: #fefefe;
          margin: auto;
          padding: 0;
          border: 1px solid #888;
          width: 80%;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          animation-name: animatetop;
          animation-duration: 0.4s
        }

        /* Add Animation */
        @keyframes animatetop {
          from {top: -300px; opacity: 0}
          to {top: 0; opacity: 1}
        }
    </style>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								<img class="header-logo-image img-responsive" src="{{ company.get_logo }}" width="60px" height="60px" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">{{ company }}</h1>
	                        <p class="hero-paragraph">{{ company_description }}</p>
	                        <div class="hero-cta">
                                <a class="button button-primary" id="launch-btn">Authenticate &amp; Apply For Loan</a>
                                <a class="button button-default" id="apply-btn">Apply For Loan</a>

                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                  <!-- Modal content -->
                                  <div class="modal-content">
                                      <div class="modal-header">
                                        <span class="close">&times;</span>
                                        <h4 class="text-center">Apply For Loan</h4>
                                      </div>
                                      <div class="modal-body text-center">
                                        <p>{{ company }} Loan Application</p>

                                        <div class="mb-4" id="">
                                          <form class="form-control applyForLoan" action="#">
                                            <div class="form-group d-flex align-items-center">
                                              ₦ <input type="number" class="form-control mr-6 mb-6" min="2000" max="20000" id="customLoanAmount"/>
                                            </div>
                                            <hr/>
                                            <div class="form-group d-flex align-items-center">
                                              <button type="submit" class="btn btn-primary" id="customLoanApplication">Apply</button>
                                            </div>
                                          </form>
                                        </div>

                                        <p>Apply Min: ₦ 2,000 Max: ₦ 20,000</p>
                                      </div>
                                      <div class="modal-footer">
                                        <h5 class="text-center">We might give you a counter offer</h5>
                                      </div>
                                  </div>

                                </div>
                            </div>
						</div>
						<div class="hero-figure anime-element">
							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								<rect width="528" height="396" style="fill:transparent;" />
							</svg>
							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						</div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="https://cdn.minloans.com.ng/minloans-public-home/dist/images/feature-icon-01.svg" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">{{ feature_title_1 }}</h4>
                                    <p class="text-sm mb-0">{{ feature_description_1 }}</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="https://cdn.minloans.com.ng/minloans-public-home/dist/images/feature-icon-02.svg" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24">{{ feature_title_2 }}</h4>
                                    <p class="text-sm mb-0">{{ feature_description_2 }}</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="https://cdn.minloans.com.ng/minloans-public-home/dist/images/feature-icon-03.svg" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">{{ feature_title_3 }}</h4>
                                    <p class="text-sm mb-0">{{ feature_description_3 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="pricing section">
                <div class="container-sm">
                    <div class="pricing-inner section-inner">
                        <div class="pricing-header text-center">
                            <h2 class="section-title mt-0">Get The Best Loans, With Ease</h2>
                            <p class="section-paragraph mb-0">{{ loan_rate_description }}</p>
                        </div>
						<div class="pricing-tables-wrap">
                            <div class="pricing-table">
                                <div class="pricing-table-inner is-revealing">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header pb-24">
                                            <div class="pricing-table-price"><span class="pricing-table-price-currency h2">: </span><span class="pricing-table-price-amount h1">{{ rate_fig }}%</span><span class="text-xs">/month</span></div>
                                        </div>
										<div class="pricing-table-features-title text-xs pt-24 pb-24">What we give you</div>
                                        <ul class="pricing-table-features list-reset text-xs">
                                            <li>
                                                <span>Flexible Loan Rates</span>
                                            </li>
                                            <li>
                                                <span>Bank &amp; Conduct Micro-savings With Us  </span>
                                            </li>
                                            <li>
                                                <span>Management Fee, Processing &amp; Insurance</span>
                                            </li>
											<li>
												<span>Risk Free &amp; More</span>
											</li>
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta mb-8">
                                        <a class="button button-primary button-shadow button-block" id="launch-btn">Apply For Loan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

			<section class="cta section">
				<div class="container">
					<div class="cta-inner section-inner">
						<h3 class="section-title mt-0">Still not convinced?</h3>
						<div class="cta-cta">
							<a class="button button-primary button-wide-mobile" id="launch-btn">Try Us Now</a>
						</div>
					</div>
				</div>
			</section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
						<a href="#">
							<img class="header-logo-image" src="{{ company.get_logo }}" width="60" height="60" alt="Logo">
						</a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Facebook</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Twitter</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Google</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2021 {{ company }}, all rights reserved powered by Minloans NG</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdn.minloans.com.ng/minloans-public-home/src/js/main.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/jquery-ui.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/popper.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/bootstrap.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/owl.carousel.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/jquery.countdown.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/jquery.easing.1.3.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/aos.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/jquery.fancybox.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/jquery.sticky.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/isotope.pkgd.min.js"></script>
    <script src="https://cdn.amjuuniquemfbng.com/cdn/amju-loan/js/main.js"></script>

    <script type="application/javascript">
      const copyToClipboard = text => {
        const elm = document.createElement('textarea');
        elm.value = text;
        document.body.appendChild(elm);
        elm.select();
        document.execCommand('copy');
        document.body.removeChild(elm);
      };
      var connect;
      var config = {
        key: "live_pk_0iyCXfHLUPyce2WeDAe6",//"live_pk_0iyCXfHLUPyce2WeDAe6",
        onSuccess: async function (response) {
            /**
             response : { "code": "code_xyz" }
             you can send this code back to your server to get this
             authenticated account and start making requests.
             */

            const payload = JSON.stringify(response);
            console.log(payload);
            const _xhr = new XMLHttpRequest();
            _xhr.open('POST', "{% url 'loan-borrower-auth' company.slug %}");
            _xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
            _xhr.setRequestHeader("Content-Type", "application/json");
            _xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            _xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token|safe }}");
            _xhr.onload = function () {
                const serverResponse = _xhr.response;
                console.log(serverResponse);
                let data = JSON.parse(serverResponse);
                localStorage.setItem("mono_connect", data.mono_connect);
                setTimeout(function() {location.reload()}, 1000);
            };
            _xhr.send(payload);
        },
        onClose: function () {
          console.log('user closed the widget.')
        }
      };
      connect = new Connect(config);
      connect.setup();

      if(localStorage.getItem("mono_connect") === null) {
          let launch = document.getElementById('launch-btn');
          document.getElementById('apply-btn').style.visibility = "hidden";
          launch.onclick = function (e) {connect.open()};
      } else {
          document.getElementById('launch-btn').style.visibility = "hidden";
          // Get the modal
          const modal = document.getElementById("myModal");

          // Get the button that opens the modal
          const Applybtn = document.getElementById("apply-btn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks on the button, open the modal
          Applybtn.onclick = function() {
            modal.style.display = "block";
          };

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
            modal.style.display = "none";
          };

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
            if (event.target === modal) {
              modal.style.display = "none";
            }
          };

          // mono connect
          let loanApplyForm = $('.applyForLoan');
          let loanApplicationButton = $("#customLoanApplication");

          function handleClick(clickedBtn, defaultText, doClick) {
            if (doClick) {
                clickedBtn.prop("disabled", true);
                clickedBtn.html("<i class='fa fa-spin fa-spinner'></i> Checking User Credibility Status..");
            } else {
                clickedBtn.prop("disabled", false);
                clickedBtn.removeClass("disabled");
                clickedBtn.add(defaultText);
            }
          }

          loanApplicationButton.on('click', event=>{
            event.preventDefault();
            handleClick(loanApplicationButton, "", true);
            let appliedLoanAmount = $("#customLoanAmount").val();
            appliedLoanAmount = parseInt(appliedLoanAmount);

            let userMonoCode = localStorage.getItem("mono_connect");
            {% include 'csrf_ajax/csrf_ajax_token.js' %}
              const loanFormData = {
                "borrower":userMonoCode,
                "amount":''+appliedLoanAmount,
                "durationFigure":1,
                "durationPeriod":'Months',
                "repaymentInterval":"Monthly"
              };
              console.log(loanFormData);
              $.ajax({
                method: "POST",
                url: "{% url 'loans-url:loan-request-processor' %}",
                data: loanFormData,
                contentType: 'application/x-www-form-urlencoded',

                success: function (data) {
                    loanApplyForm[0].reset();
                    console.log(data);
                    alert("Loan Request Application Successful!, We will contact you shortly!");
                    setTimeout(function () {
                        window.location.replace('/dashboard/{{company.slug}}/');
                    }, 3000)
                }, error: function (error) {
                    loanApplyForm[0].reset();
                    alert("Error")
                }
              })

          });
      }
    </script>
</body>
</html>
