{% load static %}

<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="footer_logo">
                            <a href="/">
                                <img src="https://cdn.minloans.com.ng/images/minloansng2.png" alt="" class="img-responsive" width="200px" height="200px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                        <h3 class="footer_title">
                            Services (We Offer)
                        </h3>
                        <ul>
                            <li><a href="/">Home </a></li>
                            <li><a href="{% url 'features' %}">Features </a></li>
                            <li><a href="{% url 'mincore-url:account-upgrade' %}">Pricing</a></li>
                            <li><a href="{% url 'tac' %}">Terms &amp; Condtions</a></li>
                            <li><a href="{% url 'privacy' %}">Privacy</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                        <h3 class="footer_title">
                            Useful Links
                        </h3>
                        <ul>
                            <li><a href="{% url 'about' %}">About Minloans</a></li>
                            <li><a href="https://feeds.minloans.com.ng/" target="_blank">Blog (What's New)</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="#" target="_parent">Support API</a></li>
                            <li><a href="#">Min Market</a></li>
                            <li><a href="#">Min Accounts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                        <h3 class="footer_title">
                            Subscribe
                        </h3>
                        <form action="{% url 'mincore-url:newsletter-processor' %}" method="post" class="newsletter_form">
                            {% csrf_token %}
                            <input type="email" id="mailList" placeholder="Enter your mail" required>
                            <button type="submit">Subscribe</button>
                        </form>
                        <p class="newsletter_text">
                            We promise we won't bug your device with mails..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;, <a href="{% url 'tac' %}">Terms &amp; Condition</a>
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved | System Core Was Built With <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a href="https://www.minloans.com.ng" target="_blank">
                            MinLoans, Minmarket &amp; Minaccounts
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5ee35d594a7c6258179a7523/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->