{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Minloansng, Minmarket, Minaccount</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.minloans.com.ng/images/minloansng2.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/magnific-popup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/89122a8218.css">

    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/nice-select.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/flaticon.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/gijgo.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/animate.min.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slick.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slicknav.css">

    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->

    {% include 'nav/home-nav.html' %}

    <!-- bradcam_area  -->
      <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>About Minloans, Minaccounts &amp; Minmarket</h3>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!--/ bradcam_area  -->

    <!-- about_area_start  -->
    <div class="about_area plus_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="about_img wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <img src="https://www.cdn.minloans.com.ng/min-homepage/img/about/about.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about_info pl-68">
                        <div class="section_title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">
                            <h3>We Simplify Lending!</h3>
                        </div>
                        <p class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                            Cloud based customisable loan management system for microfinance and lending companies.
                            Manage loans and savings accounts of your borrowers. View charts and reports.
                        </p>
                        <div class="about_list">
                            <ul>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">Loans.</li>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".6s">Savings &amp; Expenses</li>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".7s">Payroll &amp; Accounting</li>
                                <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay=".9s">Integrated Apps &amp; Store</li>
                            </ul>
                        </div>
                        <div class="about_btn wow fadeInRight" data-wow-duration="1.3s" data-wow-delay=".5s">
                            <a class="boxed-btn3" href="{% url 'login' %}">Give Us A Try, Start Using Minloans</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end  -->

    {% include 'base/h_footer.html' %}

</body>

</html>