{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html class="no-js" lang="zxx">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Features | Minloansng, Minmarket, Minaccount</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn.minloans.com.ng/images/minloansng2.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/magnific-popup.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/89122a8218.css">

        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/themify-icons.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/nice-select.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/flaticon.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/gijgo.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/animate.min.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slick.css">
        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slicknav.css">

        <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/style.css">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    </head>

    <body>
        <!--[if lte IE 9]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->
        <!-- header-start -->

        {% include 'nav/home-nav.html' %}

        <!-- bradcam_area  -->
          <div class="bradcam_area bradcam_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>Product Features</h3>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        <!--/ bradcam_area  -->

        <!-- Start Sample Area -->
        <section class="sample-text-area">
            <div class="container box_1170">
                <h3 class="text-heading">Minloans, Minmarket &amp; Minaccounts</h3>
                <p class="sample-text">
                    We are committed to protecting your privacy. Authorized employees within the
                    <b>Minloans, Minmarket and Minaccounts</b> on a need to know basis only use any information collected
                    from individual customers. We constantly review our systems and data to ensure the best possible
                    service to our customers. Parliament has created specific offences for unauthorised actions against
                    computer systems and data. We will investigate any such actions with a view to prosecuting and/or
                    taking civil proceedings to recover damages against those responsible.

                    With these notes in mind we proceed to telling our great features and benefits using <b>Minloans, Minmarket and Minaccounts</b>
                </p>
            </div>
        </section>
        <!-- End Sample Area -->

        <!-- Start Align Area -->
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="mb-20">Loans</h3>
                            <div class="">
                                <ul class="unordered-list">
                                    <li><b>Borrowers</b>
                                        <ul>
                                            <li>Detailed Information To Create A Borrower</li>
                                            <li>Upload picture and files if any</li>
                                            <li>Add details such as DOB, Email, Mobile, and Address</li>
                                            <li>Email directly to Borrower</li>
                                            <li>Auto Send Email</li>
                                            <li>Add Loans and Savings Account<sup>Minaccounts</sup></li>
                                            <li>Invite Borrowers to Minaccounts so they can see their loans, repayments, and savings account</li>
                                            <li>Assign Loan Officers to Borrowers</li>
                                            <li>Access To Minaccounts &amp; Minmarkets for unlimited Apps &amp; Plugins</li>
                                            <li>Unlimited Borrowers can be added</li>
                                        </ul>
                                    </li>
                                    <li><b>Add Loan</b>
                                        <ul>
                                            <li>Add Loan Products</li>
                                            <li>Choose from Flat Interest, Reducing Balance - Equal Installments,
                                                Reducing Balance - Equal Principal, Interest-Only loans, or Compound Interest
                                            </li>
                                            <li>Released Date, Amount, Interest %, Duration, and Repayment Cycle</li>
                                            <li>Add Repayment Cycle for example fixed days every month</li>
                                            <li>Set Grace Period</li>
                                            <li>Set Penalties for late repayment and after maturity date</li>
                                            <li>Set a different Interest Start Date</li>
                                            <li>First Repayment Date and First Repayment Amount can be manually set in Add Loan</li>
                                            <li>Add Loan Fees</li>
                                            <li>Add Guarantors</li>
                                            <li>Add Loan Agreement files</li>
                                            <li>Auto Loan Calculator</li>
                                            <li>Add Custom Fields</li>
                                            <li>Add Loans for Processing</li>
                                            <li>Set Loan Reminders</li>
                                            <li>Unlimited Loans</li>
                                        </ul>
                                    </li>
                                    <li><b>Manage Loan</b>
                                        <ul>
                                            <li>View and print Loan Statement and Collection Schedule</li>
                                            <li>Add Repayment</li>
                                            <li>Add Bulk Repayments</li>
                                            <li>View Loan Terms and Files</li>
                                            <li>Add Comments</li>
                                            <li>Edit Collection Sheet</li>
                                            <li>Restructure Loan</li>
                                            <li>Override Loan Due Amount</li>
                                            <li>Filter Loans</li>
                                            <li>Send bulk SMS to borrowers on the Daily Collection Sheet or the Overdue Loans Sheets.</li>
                                        </ul>
                                    </li>
                                    <li><b>Collateral Register</b>
                                        <ul>
                                            <li>Add Collateral</li>
                                            <li>View Loan to Value (LTV) ratio</li>
                                            <li>Manage all Collateral in a Register</li>
                                        </ul>
                                    </li>
                                    <li><b>Overdue Loans</b>
                                        <ul>
                                            <li>View Pending Due Loans</li>
                                            <li>View Past Maturity Date Loans</li>
                                            <li>View 1 Month Overdue Loans</li>
                                            <li>View 3 Months Overdue Loans</li>
                                        </ul>
                                    </li>
                                    <li><b>Loan Agreements/Templates</b>
                                        <ul>
                                            <li>View Sample Loan Agreements</li>
                                            <li>Upload Loan Agreement Template</li>
                                            <li>Download Customized Loan Agreement for each loan</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 mt-sm-30">
                            <h3 class="mb-20">Branches &amp; Users</h3>
                            <div class="">
                                <ul class="unordered-list">
                                    <li><b>Branches</b>
                                        <ul>
                                            <li>Add Branches</li>
                                            <li>Set Minimum and Minimum Loan Amounts</li>
                                            <li>Set Minimum and Minimum Loan Interest Rates</li>
                                            <li>Set Branch Holidays</li>
                                            <li>Add Branch Capital</li>
                                            <li>Switch between branches</li>
                                        </ul>
                                    </li>
                                    <li><b>Users</b>
                                        <ul>
                                            <li>Add Staff and upload picture and files</li>
                                            <li>
                                                Set Staff Roles for each staff such as Cashier, Teller, Operations Manager,
                                                Collector, and Branch Manager
                                            </li>
                                            <li>Set permissions for each staff role and control what pages they can see</li>
                                            <li>Assign Staff to Branch so they can't access other branches</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 mt-sm-30">
                            <h3 class="mb-20">Reports</h3>
                            <div class="">
                                <ol class="ordered-list">
                                    <li><span>Charts</span>
                                        <ol class="ordered-list-alpha">
                                            <li><span>Loan Released Chart</span></li>
                                            <li><span>Loan Collections Chart</span></li>
                                            <li><span>Past Maturity Date Chart</span></li>
                                            <li><span>Pie Chart on the percentage of male and female borrowers</span></li>
                                            <li><span>Average Loan Tenure</span></li>
                                            <li><span>Balance Sheet, Net Profit, Gross Profit, Expenses, and Payroll Charts</span></li>
                                            <li><span>Savings Chart</span></li>
                                        </ol>
                                    </li>
                                    <li><span>Download Statements/Receipts</span>
                                        <ol class="ordered-list-alpha">
                                            <li><span>Repayment Receipt</span></li>
                                            <li><span>Loan Statement</span></li>
                                            <li><span>Client Statement</span></li>
                                            <li><span>Loan Schedule</span></li>
                                            <li><span>Other Income Receipt</span></li>
                                            <li><span>Format Reports</span></li>
                                        </ol>
                                    </li>
                                    <li><span>Reports</span>
                                        <ol class="ordered-list-alpha">
                                            <li><span>Balance Sheet</span></li>
                                            <li><span>Collections Report and Chart</span></li>
                                            <li><span>Collector Report<sup>Staff</sup></span></li>
                                            <li><span>Cash Flow and Detailed Cash Flow<sup>Minaccounts</sup></span></li>
                                            <li><span>Cash Flow Projections</span></li>
                                            <li><span>Pending Dues Report</span></li>
                                            <li><span>Profit &amp; Loss Statement</span></li>
                                            <li><span>Microfinance Financial Reporting Standards - Ratios</span></li>
                                            <li><span>Portfolio At Risk (PAR) figures</span></li>
                                            <li><span>At A Glance Report</span></li>
                                            <li><span>Summary of total borrowers, savings, loans, and collections</span></li>
                                            <li><span>Download reports in CSV (Excel, LibraOffice, Apache OpenOffice)<sup>Minaccounts</sup></span></li>
                                        </ol>
                                    </li>
                                    <li><span>Accounting Integration</span>
                                        <ol class="ordered-list-alpha">
                                            <li><span>Connect Data Transfer From Minloans NG<sup>cloud based loan management system</sup> to Minaccounts<sup>cloud accounting owned by minloans</sup></span></li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'base/h_footer.html' %}
    </body>

</html>