{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Minloansng, Minmarket, Minaccount</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.minloans.com.ng/images/minloansng2.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/magnific-popup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/89122a8218.css">

    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/nice-select.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/flaticon.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/gijgo.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/animate.min.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slick.css">
    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/slicknav.css">

    <link rel="stylesheet" href="https://cdn.minloans.com.ng/min-homepage/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>

    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->

    {% include 'nav/home-nav.html' %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Our Pricing</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
    <!--/ bradcam_area  -->

    <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-90">
                        <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s"></span>
                        <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">30 Days Free Trial On All Plans</h3>
                        <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            Grow Your Integrity With Custom Homepage and Domain Policy From Minloans NG
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".5s">
                        <div class="service_icon_wrap text-center">
                            <div class="service_icon ">
                                <img src="https://cdn.minloans.com.ng/min-homepage/img/svg_icon/service_1.png" alt="">
                            </div>
                        </div>
                        <div class="info text-center">
                            <h2 class="text-uppercase" style="color: #fffee8"> Start Up</h2>
                            <h4 style="color: #fffee8">₦ 7K/Month + ₦ 1,500 Accounting Maintenance</h4>
                        </div>
                        <div class="service_content">
                            <ul>
                                <li> 1 <i class="fa fa-user"></i> User</li>
                                <li> 2 Companies</li>
                                <li> No Custom Domain Name</li>
                                <li> Access To Store</li>
                                <li> 24/7 Support System</li>
                                <li> 50 Email Sending Monthly</li>
                                <li> Access To Minaccounting 1 Month</li>
                            </ul>
                            <div class="apply_btn">
                                <button class="boxed-btn3" type="submit">Apply Now</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single_service wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="service_icon_wrap text-center">
                            <div class="service_icon ">
                                <img src="https://cdn.minloans.com.ng/min-homepage/img/svg_icon/service_2.png" alt="">
                            </div>
                        </div>
                        <div class="info text-center">
                            <h2 class="text-uppercase" style="color: #fffee8"> Business</h2>
                            <h4 style="color: #fffee8">₦ 12K/Month + ₦ 1,000 Accounting Maintenance</h4>
                        </div>
                        <div class="service_content">
                            <ul>
                                <li> 3 <i class="fa fa-user"></i> Users</li>
                                <li> 5 Companies</li>
                                <li> Custom Domain Name</li>
                                <li> Access To Store</li>
                                <li> 24/7 Support System</li>
                                <li> 200 Email Sending Monthly</li>
                                <li> Access To Minaccounting 1 Month</li>
                            </ul>
                            <div class="apply_btn">
                                <button class="boxed-btn3" type="submit">Apply Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".5s">
                        <div class="service_icon_wrap text-center">
                            <div class="service_icon ">
                                <img src="https://cdn.minloans.com.ng/min-homepage/img/svg_icon/service_3.png" alt="">
                            </div>
                        </div>
                        <div class="info text-center">
                            <h2 class="text-uppercase" style="color: #fffee8"> Enterprise</h2>
                            <h4 style="color: #fffee8">₦ 18K/Month + ₦ 500 Accounting Maintenance</h4>
                        </div>
                        <div class="service_content">
                            <ul>
                                <li> 7 <i class="fa fa-user"></i> Users </li>
                                <li> 10 Companies</li>
                                <li> Custom Domain Name</li>
                                <li> Access To Store</li>
                                <li> 24/7 Support System</li>
                                <li> 500 Email Sending Monthly</li>
                                <li> Access To Minaccounting 1 Month</li>
                            </ul>
                            <div class="apply_btn">
                                <button class="boxed-btn3" type="submit">Apply Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end  -->


    <div class="brad_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brad_active owl-carousel">
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <img src="https://cdn.minloans.com.ng/min-homepage/img/brand/1.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <img src="https://cdn.minloans.com.ng/min-homepage/img/brand/2.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <img src="https://cdn.minloans.com.ng/min-homepage/img/brand/3.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <img src="https://cdn.minloans.com.ng/min-homepage/img/brand/4.png" alt="">
                        </div>
                        <div class="single_brand wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                            <img src="https://cdn.minloans.com.ng/min-homepage/img/brand/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="apply_loan overlay">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-7">
                    <div class="loan_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <h3>
                            Don't see a feature or have different requirements?
                        </h3>
                        <small style="color: beige;">
                            Send us an email at support@minloans.com.ng. We do customizations on a paid basis.
                        </small>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="loan_btn wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <a class="boxed-btn3" href="#">Get Started - It's Free</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'footer/home-footer.html' %}

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="https://cdn.minloans.com.ng/min-homepage/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/popper.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/bootstrap.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/owl.carousel.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/isotope.pkgd.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/ajax-form.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/waypoints.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.counterup.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/scrollIt.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.scrollUp.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/wow.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/nice-select.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.slicknav.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.magnific-popup.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/plugins.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/gijgo.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/slick.min.js"></script>
    <script src="https://use.fontawesome.com/7eea54d94f.js"></script>



    <!--contact js-->
    <script src="https://cdn.minloans.com.ng/min-homepage/js/contact.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.ajaxchimp.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.form.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/jquery.validate.min.js"></script>
    <script src="https://cdn.minloans.com.ng/min-homepage/js/mail-script.js"></script>


    <script src="https://cdn.minloans.com.ng/min-homepage/js/main.js"></script>

    <script>
        $(function () {
            'use strict';
            $(document).ready(function () {
                const newsletterForm = $('.newsletter_form');
                const newsletterFormMethod = newsletterForm.attr('method');
                const newsletterFormEndpoint = newsletterForm.attr('action');
                const newsletterFormSubmitBtn = newsletterForm.find("[type='submit']");
                const newsletterFormSubmitBtnText = newsletterFormSubmitBtn.text();

                function displaySubmitting(submitBtn, defaultText, doSubmit) {
                    if (doSubmit) {
                        submitBtn.addClass("disabled");
                        submitBtn.html("<i class='fa fa-spin fa-spinner'></i> Subscribing ...");
                    } else {
                        submitBtn.removeClass("disabled");
                        submitBtn.add(defaultText);
                    }
                }

                newsletterForm.submit(function (event) {
                    event.preventDefault();

                    {% include 'csrf_ajax/csrf_ajax_token.js' %}

                    const newsletterFormData = {
                        "email": $('#mailList').val(),
                    };
                    console.log(newsletterFormData);
                    const thisForm = $(this);

                    displaySubmitting(newsletterFormSubmitBtn, "", true);

                    $.ajax({
                        method: newsletterFormMethod,
                        url: newsletterFormEndpoint,
                        data: newsletterFormData,
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',

                        success: function (data) {
                            newsletterForm[0].reset();
                            setTimeout(function () {
                                window.location.replace("/");
                            }, 3000);
                        }, error: function (error) {
                            console.log(error);
                            newsletterForm[0].reset();
                            //alert would be here
                            displaySubmitting(newsletterFormSubmitBtn, newsletterFormSubmitBtnText, false);
                        }
                    })

                })

            })
        })
    </script>
</body>

</html>