{% load static %}

<!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ company.get_absolute_url }}" class="nav-link">Home</a>
      </li>
      {% if request.user.profile.role == 'Admin' %}
          <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'settings-url:company-settings' object.slug %}" class="nav-link">Settings</a>
          </li>
      {% endif %}
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3 search-form" method='GET' action='{% url "search:query" object.slug %}'>
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="text" placeholder="Search" name='q' aria-label="Search" value='{{ request.GET.q }}'>
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">{{ msg.count }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          {% for msg in msg %}
              <a href="/system/handler/{{ company.slug }}/messages/{{ msg.slug }}/detail/" class="dropdown-item">
                <!-- Message Start -->
                <div class="media">
                  <img src="{{ msg.get_image }}" alt="{{ msg }}" class="img-size-50 mr-3 img-circle">
                  <div class="media-body">
                    <h3 class="dropdown-item-title">
                        <strong>{{ msg.from_obj }}</strong>
                      <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">{{ msg.title }}</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> {{ msg.timestamp|timesince }}</p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
          {% endfor %}

          <a href="/system/handler/{{ company.slug }}/messages/" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>

      <!-- user account profile -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
          <span class="badge badge-primary navbar-badge"> <i class="fa fa-tasks"></i> </span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">{{ request.user.profile.get_name }} - {{ request.user.profile.role }}</span>
          <div class="dropdown-divider"></div>
          <a href="{% url 'account:company-user-detail' object.slug request.user.profile.slug %}" class="dropdown-item">
            <i class="fas fa-user mr-2"></i> Manage My Profile
            <span class="float-right text-muted text-sm"><i class="fas fa-cog"></i> </span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'logout' %}" class="dropdown-item">
            <i class="fas fa-signal mr-2"></i> Log Out
            <span class="float-right text-muted text-sm"> <i class="fas fa-arrow-right"></i> </span>
          </a>
          {% if request.user.profile.role == 'Admin' %}
              <div class="dropdown-divider"></div>
              <a href="{% url 'settings-url:company-settings' object.slug %}" class="dropdown-item dropdown-footer">
                  Review Company Settings and Policy Controls
              </a>
          {% endif %}
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
          <i class="fas fa-th-large"></i>
        </a>
      </li>

    </ul>
  </nav>
<!-- /.navbar -->